<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro">
    <material name = "white">
        <color rgba = "1 1 1 1"/>
    </material>
    <link name = "base_link">
    </link>
    <joint name = "first_joint" type = "fixed">
        <parent link = "base_link"/>
        <child link = "second_link"/>
        <origin xyz = "0 0 0"/>

    </joint>
    <link name = "first_link">
        
    </link>

</robot>