<?xml version="1.0" encoding="UTF-8"?>
<!-- Follows updated snakebot but with added inertial components-->
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro" name = "test_snakebot">
    <material name = "white">
        <color rgba = "1 1 1 1"/>
    </material>
    <material name = "black">
        <color rgba = "0 0 0 1"/>
    </material>
    <link name = "head">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <sphere radius = "0.05"/>
            </geometry>
            <material name = "black"/>
        </visual>
    </link>
    <!-- TODO: UPDATE TO INCLUDE FRICTION + DYNAMICS + INERTIA COMPONENTS FOR LINK-->
    <!-- MODULE ONE-->
    <!-- First Joint -->
    <!-- Bottom Bracket-->
    <link name = "base_link">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.01"/>
            </geometry>
            <material name = "white"/>
        </visual>
    </link>
    <joint name = "head_to_base" type = "fixed">
        <parent link = "base_link"/>
        <child link = "head"/>
        <origin xyz = "-0.02 0 0"/>
    </joint>

    <link name = "m1_bottom_bracket_one">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>  
        </inertial>
    </link>
    <joint name = "m1_joint_zero" type = "prismatic">
        <parent link = "base_link"/>
        <child link = "m1_bottom_bracket_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "0" upper = "0.02" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
        <dynamics damping = "0.0" friction = "0.01"/>
    </joint>

    <!-- Second Joint - Additional Revolute Joint -->
    <link name = "m1_virtual_link_zero"></link>
    <joint name = "m1_joint_one" type = "revolute">
        <parent link = "m1_bottom_bracket_one"/>
        <child link = "m1_virtual_link_zero"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.0873" upper = "0.0873" effort = "1" velocity = "0.01"/>
    </joint>


    <!-- Third Joint - rolling -->
    <link name = "m1_virtual_link_one"></link>
    <joint name = "m1_joint_two" type = "revolute">
        <parent link = "m1_virtual_link_zero"/>
        <child link = "m1_virtual_link_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "-0.2618" upper = "0.2618" effort = "1" velocity = "0.01"/>
        <origin xyz = "0.02 0 0"/>
    </joint>

    
    <!-- Fourth Joint Fixed - Prismatic -->
    <link name = "m1_middle_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.085"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.07"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m1_third_joint" type = "fixed">
        <parent link = "m1_virtual_link_one"/>
        <child link = "m1_middle_bracket"/>
        <origin rpy = "0 0 0" xyz = "0.045 0 0"/>
    </joint>

    <!--Fourth Joint - Revolute-->
    <link name = "m1_virtual_link_two"></link>
    <joint name = "m1_fourth_joint" type = "fixed">
        <parent link = "m1_middle_bracket"/>
        <child link = "m1_virtual_link_two"/>
        <origin rpy = "0 0 0" xyz = "0.015 0 0"/>
    </joint>

    <!--Fifth Joint - Revolute -->
    <link name = "m1_top_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <!-- Collision - only for the top half! -->
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0.025 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <link name = "m1_virtual_link"/>
    <joint name = "m1_joint_three" type = "revolute">
        <parent link = "m1_virtual_link_two"/>
        <child link = "m1_virtual_link"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </joint>
    <joint name = "m1_joint_four" type = "revolute">
        <parent link = "m1_virtual_link"/>
        <child link = "m1_top_bracket"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0.055 0 0"/>
    </joint>

    <!-- adding infinitesimally small link-->
    
    <!-- Module Two-->
    <!-- Final Fixed Joint-->
    <link name = "m2_base_link">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.02"/>
            </geometry>
            <material name = "black"/>
        </visual>
    </link>
    <joint name = "m1_final_joint" type = "fixed">
        <parent link = "m1_top_bracket"/>
        <child link = "m2_base_link"/>
        <origin xyz = "0.0275 0 0"/>
    </joint>

    
    <!-- First Joint -->
    <!-- Bottom Bracket-->
    
    <link name = "m2_bottom_bracket_one">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m2_joint_zero" type = "prismatic">
        <parent link = "m2_base_link"/>
        <child link = "m2_bottom_bracket_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "0" upper = "0.02" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
        <dynamics damping = "0.0" friction = "0.01"/>
    </joint>

    <!-- Second Joint - Additional Revolute Joint -->
    <link name = "m2_virtual_link_zero"></link>
    <joint name = "m2_joint_one" type = "revolute">
        <parent link = "m2_bottom_bracket_one"/>
        <child link = "m2_virtual_link_zero"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.0873" upper = "0.0873" effort = "1" velocity = "0.01"/>
    </joint>


    <!-- Third Joint - rolling -->
    <link name = "m2_virtual_link_one"></link>
    <joint name = "m2_joint_two" type = "revolute">
        <parent link = "m2_virtual_link_zero"/>
        <child link = "m2_virtual_link_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "-0.2618" upper = "0.2618" effort = "1" velocity = "0.01"/>
        <origin xyz = "0.02 0 0"/>
    </joint>

    
    <!-- Fourth Joint Fixed - Prismatic -->
    <link name = "m2_middle_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.085"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.07"/>
            </geometry>
        </collision>
    </link>
    <joint name = "m2_third_joint" type = "fixed">
        <parent link = "m2_virtual_link_one"/>
        <child link = "m2_middle_bracket"/>
        <origin rpy = "0 0 0" xyz = "0.045 0 0"/>
    </joint>

    <!--Fourth Joint - Revolute-->
    <link name = "m2_virtual_link_two"></link>
    <joint name = "m2_fourth_joint" type = "fixed">
        <parent link = "m2_middle_bracket"/>
        <child link = "m2_virtual_link_two"/>
        <origin rpy = "0 0 0" xyz = "0.015 0 0"/>
    </joint>

    <!--Fifth Joint - Revolute -->
    <link name = "m2_top_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <!-- Collision - only for the top half! -->
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0.025 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <link name = "m2_virtual_link"/>
    <joint name = "m2_joint_three" type = "revolute">
        <parent link = "m2_virtual_link"/>
        <child link = "m2_top_bracket"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </joint>
    <joint name = "m2_joint_four" type = "revolute">
        <parent link = "m2_virtual_link_two"/>
        <child link = "m2_virtual_link"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0.055 0 0"/>
    </joint>

    <!-- Module Three -->
    <!-- Final Fixed Joint-->
    <link name = "m3_base_link">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.02"/>
            </geometry>
            <material name = "white"/>
        </visual>
    </link>
    <joint name = "m2_final_joint" type = "fixed">
        <parent link = "m2_top_bracket"/>
        <child link = "m3_base_link"/>
        <origin xyz = "0.0275 0 0"/>
    </joint>

    <link name = "m3_bottom_bracket_one">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m3_joint_zero" type = "prismatic">
        <parent link = "m3_base_link"/>
        <child link = "m3_bottom_bracket_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "0" upper = "0.02" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
        <dynamics damping = "0.0" friction = "0.01"/>
    </joint>

    <!-- Second Joint - Additional Revolute Joint -->
    <link name = "m3_virtual_link_zero"></link>
    <joint name = "m3_joint_one" type = "revolute">
        <parent link = "m3_bottom_bracket_one"/>
        <child link = "m3_virtual_link_zero"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.0873" upper = "0.0873" effort = "1" velocity = "0.01"/>
    </joint>


    <!-- Third Joint - rolling -->
    <link name = "m3_virtual_link_one"></link>
    <joint name = "m3_joint_two" type = "revolute">
        <parent link = "m3_virtual_link_zero"/>
        <child link = "m3_virtual_link_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "-0.2618" upper = "0.2618" effort = "1" velocity = "0.01"/>
        <origin xyz = "0.02 0 0"/>
    </joint>

    
    <!-- Fourth Joint Fixed - Prismatic -->
    <link name = "m3_middle_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.085"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.07"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m3_third_joint" type = "fixed">
        <parent link = "m3_virtual_link_one"/>
        <child link = "m3_middle_bracket"/>
        <origin rpy = "0 0 0" xyz = "0.045 0 0"/>
    </joint>

    <!--Fourth Joint - Revolute-->
    <link name = "m3_virtual_link_two"></link>
    <joint name = "m3_fourth_joint" type = "fixed">
        <parent link = "m3_middle_bracket"/>
        <child link = "m3_virtual_link_two"/>
        <origin rpy = "0 0 0" xyz = "0.015 0 0"/>
    </joint>

    <!--Fifth Joint - Revolute -->
    <link name = "m3_top_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
            <material name = "white"/>
        </visual>
        <!-- Collision - only for the top half! -->
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0.025 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <link name = "m3_virtual_link"/>
    <joint name = "m3_joint_three" type = "revolute">
        <parent link = "m3_virtual_link"/>
        <child link = "m3_top_bracket"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </joint>
    <joint name = "m3_joint_four" type = "revolute">
        <parent link = "m3_virtual_link_two"/>
        <child link = "m3_virtual_link"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0.055 0 0"/>
    </joint>

    <!-- Module Four -->
    <!-- Final Fixed Joint-->
    <link name = "m4_base_link">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.02"/>
            </geometry>
            <material name = "black"/>
        </visual>
    </link>
    <joint name = "m3_final_joint" type = "fixed">
        <parent link = "m3_top_bracket"/>
        <child link = "m4_base_link"/>
        <origin xyz = "0.0275 0 0"/>
    </joint>

    
    <!-- First Joint -->
    <!-- Bottom Bracket-->
    
    <link name = "m4_bottom_bracket_one">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.045"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m4_joint_zero" type = "prismatic">
        <parent link = "m4_base_link"/>
        <child link = "m4_bottom_bracket_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "0" upper = "0.02" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
        <dynamics damping = "0.0" friction = "0.01"/>
    </joint>

    <!-- Second Joint - Additional Revolute Joint -->
    <link name = "m4_virtual_link_zero"></link>
    <joint name = "m4_joint_one" type = "revolute">
        <parent link = "m4_bottom_bracket_one"/>
        <child link = "m4_virtual_link_zero"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.0873" upper = "0.0873" effort = "1" velocity = "0.01"/>
    </joint>


    <!-- Third Joint - rolling -->
    <link name = "m4_virtual_link_one"></link>
    <joint name = "m4_joint_two" type = "revolute">
        <parent link = "m4_virtual_link_zero"/>
        <child link = "m4_virtual_link_one"/>
        <axis xyz = "1 0 0"/>
        <limit lower = "-0.2618" upper = "0.2618" effort = "1" velocity = "0.01"/>
        <origin xyz = "0.02 0 0"/>
    </joint>

    
    <!-- Fourth Joint Fixed - Prismatic -->
    <link name = "m4_middle_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.085"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.07"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <joint name = "m4_third_joint" type = "fixed">
        <parent link = "m4_virtual_link_one"/>
        <child link = "m4_middle_bracket"/>
        <origin rpy = "0 0 0" xyz = "0.045 0 0"/>
    </joint>

    <!--Fourth Joint - Revolute-->
    <link name = "m4_virtual_link_two"></link>
    <joint name = "m4_fourth_joint" type = "fixed">
        <parent link = "m4_middle_bracket"/>
        <child link = "m4_virtual_link_two"/>
        <origin rpy = "0 0 0" xyz = "0.015 0 0"/>
    </joint>

    <!--Fifth Joint - Revolute -->
    <link name = "m4_top_bracket">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
            <material name = "black"/>
        </visual>
        <!-- Collision - only for the top half! -->
        <collision>
            <origin rpy = "0 1.5708 0" xyz = "0.025 0 0"/>
            <geometry>
                <cylinder radius = "0.05" length = "0.055"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <mass value = "0.1"/>
            <inertia ixx = "0.0001" ixy = "0" ixz = "0" iyy = "0.0001" iyz = "0" izz = "0.0001"/>
        </inertial>
    </link>
    <link name = "m4_virtual_link"/>
    <joint name = "m4_joint_three" type = "revolute">
        <parent link = "m4_virtual_link"/>
        <child link = "m4_top_bracket"/>
        <axis xyz = "0 0 1"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0 0 0"/>
    </joint>
    <joint name = "m4_joint_four" type = "revolute">
        <parent link = "m4_virtual_link_two"/>
        <child link = "m4_virtual_link"/>
        <axis xyz = "0 1 0"/>
        <limit lower = "-0.5236" upper = "0.5236" effort = "1" velocity = "0.01"/>
        <origin rpy = "0 0 0" xyz = "0.055 0 0"/>
    </joint>

    <link name = "tail">
        <visual>
            <origin rpy = "0 1.5708 0" xyz = "0 0 0"/>
            <geometry>
                <cylinder radius = "0.03" length = "0.1"/>
            </geometry>
            <material name = "white"/>
        </visual>
    </link>
    <joint name = "m4_to_tail" type = "fixed">
        <parent link = "m4_top_bracket"/>
        <child link = "tail"/>
        <origin xyz = "0.0275 0 0"/>
    </joint>
</robot>